.Weather {
  display: block;
  font-family: sans-serif;

  background: hsl(231, 48%, 48%);
  width: 600px;
  height: auto;

  border-radius: 25px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
